h1::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    z-index: -1;
    transition: transform 600ms ease;
  }
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  h1 {
    position: relative;
    padding: 10px 100px;
  }
  body {
    margin: 0;
    display: grid;
    place-content: center;
  }