body {
    margin: 0;
    width: 100vw;
    height: 150vh;
}
.angel,
.demon,
.space {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 7.5em;
}
.demon {
    background: url("https://images3.alphacoders.com/103/103327.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.space {
    background-color: black;
    width: 100%;
    height: 3%;
}
.angel {
    background: url("https://i.pinimg.com/originals/3c/1b/42/3c1b42c3100f06f930cbf8945c3ac013.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.component {
    width: 100%;
    height: 100%;
}